	
	<h2>All Posts:</h2>
	<ul class="results">
		<% posts.forEach(function(post) { %>
		<li><a href="/posts/<%= post.dataValues.id %>"><%= post.dataValues.title %></a>
			<p>By: <a href="/authors/<%= post.dataValues.authorId %>"><%= post.dataValues.author.name %></a></p>
		</li>
		<% }) %>
	</ul>
	