body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
.page-header {
	padding: 2em;
	overflow: hidden;
	background: rgb(44, 62, 80);
	color: #fff;
}
.logo {
	float: left;
	margin-right: 2em;
	font-size: 2em;
}
.nav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-indent: none;
	height: 2em;
}
.nav li {
	display: inline-block;
	margin-right: 2em;
	line-height: 2em;
	height: 2em;
}
.nav li a {
	color: #fff;
	text-decoration: none;
	line-height: 2em;
	height: 2em;
}
.nav li a:hover {
	color: #ddd;
}

.content-wrapper {
	width: 80%;
	margin: 0 auto;
}
.results {
	width: 100%;
	overflow: hidden;
	list-style-type: none;
	padding: 0;
	text-indent: 0;
}
.results li {
	overflow: hidden;
	width: 100%;
	padding: 1em;
	background: #eee;
	margin-bottom: 1em;
}
.results li .buttons {
	width: 20%;
}
.pull-left {
	float: left;
}
.pull-right {
	float: right;
}
.show-container {
	overflow: hidden;
}
.show-container form {
	padding:0;
}
.profile-img {
	margin-right: 2em;
	margin-bottom: 2em;
}
.buttons {
	overflow: hidden;
}
.button {
	background: #888;
	display: block;
	border-radius: 6px;
	border: 1px solid #999;
	padding: .5em;
	max-width: 100px;
	color: white;
	text-decoration: none;
	font-size: 1em;
	margin-right: 2em;
}
.button:hover {
	background: #999;
}
.delete {
	background: rgb(217, 30, 24);
	margin-top: 0;
}
.delete:hover {
	background: rgb(150, 40, 27);
}
.stacked input, .stacked select {
	display:block;
	margin-bottom: 1em;
}
