<h2>Login:</h2>
<form action="/login" method="post">
	<input type="text" name="username" ind="username" value="<%= username %>" placeholder="Username">
	<input type="password" name="password" id="password" placeholder="Password">
	<input class="button" type="submit" value="Login">
</form>