<h2>Signup:</h2>
<form action="/signup" method="post">
	<input type="text" name="username" ind="username" value="<%= username %>" placeholder="Username" autofocus>
	<input type="text" name="name" id="name" value="<%= name %>" placholder="name" placeholder="Name">
	<input type="password" name="password" id="password" placeholder="Password">
	<input class="button" type="submit" value="Sign up">
</form>